.App {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #E3E2DF;
  padding-bottom: 32px;
}

.wait {
  color: black;
}

.in-process {
  color: blue;
}

.complete {
  color: green;
}